  body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    padding: 5px;
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

  .mobile-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    list-style: none;
    position: relative;
    background-color: white;
    padding: 20px 10px;
    font-size: 30px;
    font-family: 'Overpass', sans-serif;
}

  span {
    display: flex;
    gap: 25px;
}

  .logo img {width: 400px;}

  .menu {display: flex}

  .menu li { padding-left: 30px;}

  .menu li a {
    display: inline-block;
    text-decoration: none;
    color: black;
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
}

  .menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 1px;
    background-color: lightgray;
    transition: 0.15s ease-in-out;
}

  .menu li a:hover:after {width:100px}

  .open-menu , .close-menu {
    position: absolute;
    color: black;
    cursor: pointer; 
    font-size: 2rem;
    display: none;
}

  .open-menu {
    top: 50%;
    right: 10px;
    transform: translate(-50%);
}

  .close-menu {
    top: 30px;
    right: 20px;
}

  #check {display:none;}

  h2 {
    font-size: 80px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: #6b6b6b;
    text-align: center;
    margin: 2%;
}

  h3 {
    font-size: 30px;
    font-family: 'Overpass', sans-serif;
    margin: 0%;
}

  p {
    margin-top: 0%;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 18px;
    text-align: center;
}

  .Oone {
    display: grid;
    justify-items: center;
}

  .examples {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 5px;
    gap: 30px;
    justify-items: center;
    align-items: stretch;
}

  .examples  .oNe {
    height: 100px;
    width: 100px;
    height: 20px;
    width: 20px;
    border: 5px solid black;
}

  .ourTeam {
    display: grid;
    grid-template-columns: 1000px;
    grid-template-rows: 50px;
    justify-content: space-around;
}

  .oUrTeAm {
    display: grid;
    justify-content: space-evenly;
    justify-items: center;
    padding-bottom: 30px;
}

  .oT {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

  .Ot {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 150px 30px;
    align-items: stretch;
    margin-left: 200px;
    margin-right: 200px;
    justify-content: space-around;
    justify-items: center;
}

  .Wtitles {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    height: 25px;
    margin-left: 200px;
    margin-right: 200px;
    align-items: stretch;
    justify-content: space-around;
    justify-items: center;
}

  .Ot h4 {
    font-size: 20px;
    margin-top: 10px;
    height: 20px;
}

  .socialS img{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    height: 20px;
    width: 20px;
}

  .socialS{
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    justify-items: center;
    align-items: stretch;
    margin-left: 185px;
    margin-right: 175px;
    justify-content: space-evenly;
    padding-bottom: 20px;
}

  .onE, .twO, .thRee, .fouR {
    display: grid;
    grid-template-columns: 30px 30px 30px;
}

  footer {
    background-color: #282828;
    color: #777;
    padding-top: 30px;
    height: 800px;
    width: auto;
}

  footer > socialss {
    display: grid;
    align-items: center;
    padding-bottom: 10px;
    padding-left: 10px;
}

  footer socialss img {
    display: grid;
    padding-right: 10px;
    margin-right: 80px;
}

  .ls {
    height: 20px;
    width: 20px;
    padding-bottom: 30px;
    justify-content: center;
}

  .lss {
    height: 20px;
    width: 20px;
}

  .SLSS {
    font-size: 18px;
}

  div p {
    padding-right: 25px;
    padding-left: 10px;
}

  .CompInfo {
    display: grid;
    grid-template-columns: 1500px;
    padding-bottom: 80px;
}

  #Info1 {
    color: white;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 20px;
}

  address #email {
    text-align: center;
    font-size: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
}

  .mainFooter {
    display: grid;
    grid-template-rows: 1000px;
    grid-template-columns: 1fr;
    color: #777;
    padding-top: 30px;
}

  hr {
  width: 2000px;
  color: rgb(68, 68, 68);
}

@media(min-width: 300px){

  .menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 100;
    background-color: #6b6b6b;
    transition: all 0.2s ease-in-out; 
  }

  .menu li {margin-top: 40px;}
  .menu li a {padding: 10px;}
  .open-menu , .close-menu {display: block;}
  #check:checked ~ .menu {right: 0;}

  .logo img {width: 250px;}

  h2 {
    font-size: 40px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: #6b6b6b;
    text-align: center;
    margin: 2%;
  }
  
  h3 {
    font-family: 'Overpass', sans-serif;
    margin: 0%;
    text-align: center;
    text-decoration: underline;
  }
  
  h4 {
    font-family: 'Overpass', sans-serif;
    margin: 0%;
    text-align: center;
    padding-bottom: 20px;
  }

  p {
    margin-top: 0%;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 15px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .examples {
      display: grid;
      grid-template-columns: 400px;
      justify-items: center;
      align-items: center;
      justify-content: center;
      align-content: center;
  }

  .examples img {
    height: 200px;
    width: 300px;
  }
  .oUrTeAm {
    /* display: grid; */
    /* grid-template-columns: 150px 150px; */
    /* grid-template-rows: 150px 150px 150px 150px; */
    /* align-items: stretch; */
    justify-content: center;
    /* justify-items: start; */
}

  .ourTeam {
    display: grid;
    grid-template-columns: 400px;
    grid-template-rows: 50px;
    }

  .Ot {
    display: grid;
    grid-template-columns: 200px;
    grid-template-rows: 250px 250px 250px 250px;
    }

  .tM {
    height: 150px;
    width: auto;
    border: 5px solid #282828;
    }

    .TeaMate {
      display: grid;
      grid-template-columns: 200px;
      grid-template-rows: 150px 20px 30px 40px;
      align-items: center;
      justify-content: center;
      justify-items: center;
    }
    
   .Ot h4 {
      font-size: 15px;
    }

  .socials img {
    width: 30px;
    height: 30px;
    }

  .SLSS {
    display: none;
    } 

  footer {
    background-color: #282828;
    color: #777;
    height: 770px;
    width: 375px;
    }

  .socialss {
    display: grid;
    grid-template-columns: 50px;
    grid-template-rows: 50px 50px 50px 50px;
    padding: 30px;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    }

  .ls {
    height: 20px;
    width: 500px;
      }

  .lss {
    height: 40px;
    width: auto;
}

  .CompInfo {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 355px;
    padding-bottom: 20px;
    padding-top: 25px;
    justify-items: center;
    justify-content: end;
    align-items: center;
} 

  #Info1 {
    color: white;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 20px;
    text-decoration: underline;
    text-align: center;
    padding-bottom: 15px;
      }

  address {
    padding-right: 75px;
  }

  address #email {
    font-size: 16px;
      }

  .mainFooter {
    color: #777;
    display: grid;
    grid-template-columns: 100px;
    grid-template-rows: 300px 25px;
      }

  hr {
    width: 375px;
    color: rgb(68, 68, 68);
    }

  footer p {
    text-align: center;
    padding-top: 20px;
    padding-right: 80px;
}

  .copy {
    align-content:center;
    padding-top: 10px;     
}
}


@media(min-width: 599px){

  .menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 100;
    background-color: #6b6b6b;
    transition: all 0.2s ease-in-out; 
  }

  .menu li {margin-top: 40px;}
  .menu li a {padding: 10px;}
  .open-menu , .close-menu {display: block;}
  #check:checked ~ .menu {right: 0;}

  .logo img {width: 250px;}

  h2 {
    font-size: 30px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: #6b6b6b;
    text-align: center;
    margin: 2%;
  }
  
  h3 {
    font-family: 'Overpass', sans-serif;
    margin: 0%;
    text-align: center;
    text-decoration: underline;
  }
  
  h4 {
    font-family: 'Overpass', sans-serif;
    margin: 0%;
    text-align: center;
    padding-bottom: 20px;
  }

  p {
    margin-top: 0%;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 15px;
    text-align: center;
    padding: 5px;
  }
  
  .examples {
    display: grid;
    grid-template-columns: 300px;
    justify-items: stretch;
  }
  
  .oNe {   
    display: grid;
    justify-content: center;
    border: 5px solid black;
    height: 20px;
    width: 20px;
    }

  .oUrTeAm {
    display: grid;
    }

  .ourTeam {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 50px;
    }

  .Ot {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 100px 100px 100px 200px;
    }

  .tM {
    height: 125px;
    width: auto;
    border: 4px solid #282828;
    }
    
  .socials img {
    width: 20px;
    height: 20px;
    }

  .socials {
    text-align: center;
    gap: 5px;
    padding-bottom: 10px;
    max-width: 599px;
    }

  .sSLSS {
    display: none;
    } 

  footer {
    width: 400px;
    height: 900px;
    background-color: #282828;
    color: #777;
    align-content: space-between;
    justify-items: center;
    }

  .socialss {
    background-color: #282828;
        display: grid;
    grid-template-rows: 40px;
    grid-template-columns: 375px;
    justify-content: center;
    align-items: center;
    justify-items: center;}
      

      .lss {
        background-color: #282828;
        height: 40px;
        width: auto;
      }

  .ls {
    background-color: #282828;
    height: 20px;
      }

  .CompInfo {
    background-color: #282828;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .SLSS {
        color: #777;
        font-size: 30px;
      }

  #Info1 {
    color: white;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 40px;
      }

  #Info2 {
    text-align: center;
    font-size: 30px;
      }

  .mainFooter {
    font-size: 20px;
    display: grid;
    grid-template-columns: 300px;
    color: #777;
    text-align: center;
    justify-content: end;
    justify-items: end;
}

  hr {
    color: rgb(68, 68, 68);
    width: 500px;
    }

  footer p {
    padding-top: 20px;
      }
  
      .copy {
        font-size: 20px;
      }
    }

@media(min-width: 768px){

  .menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 100;
    background-color: #6b6b6b;
    transition: all 0.2s ease-in-out; 
  }

  .menu li {margin-top: 40px;}
  .menu li a {padding: 10px;}
  .open-menu , .close-menu {display: block;}
  #check:checked ~ .menu {right: 0;}

  .logo img {width: 350;}

  h2 {
    font-size: 40px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: #6b6b6b;
    text-align: center;
    margin: 2%;
  }
  
  h3 {
    font-family: 'Overpass', sans-serif;
    margin: 0%;
    text-align: center;
    text-decoration: underline;
  }
  
  h4 {
    font-family: 'Overpass', sans-serif;
    margin: 0%;
    text-align: center;
    padding-bottom: 20px;
  }

  p {
    margin-top: 0%;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 15px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .examples {
    display: grid;
    grid-template-columns: 400px;
    justify-items: stretch;
  }
  
  .oNe {   
    display: grid;
    justify-content: center;
    border: 5px solid black;
    height: 20px;
    width: 20px;
    }

  .oUrTeAm {
    display: grid;
    }

  .ourTeam {
    display: grid;
    grid-template-columns: 500px;
    grid-template-rows: 50px;
    }

  .Ot {
    display: grid;
    grid-template-columns: 250px 250px;
    grid-template-rows: 100px 100px 100px 200px;
    }

  .tM {
    height: 150px;
    width: auto;
    border: 4px solid #282828;
    }
    
  .socials img {
    width: 20px;
    height: 20px;
    }

  .socials {
    text-align: center;
    gap: 5px;
    padding-bottom: 10px;
    }

  .sSLSS {
    font-size: 20px;
    color: #6b6b6b;
    } 

  footer {
    background-color: #282828;
    color: #777;
    height: 700px;
    width: auto;
    }

  .socialss {
    display: grid;
    grid-template-columns: 175px 175px 175px 175px;
    grid-template-rows: 50px 100px;
    justify-content: center;
    padding-top: 20px;
    justify-items: stretch;
    align-content: stretch;
    align-items: stretch;
      }

  .ls {
    display: grid;
    align-content: center;
    justify-items: center;
    height: 20px;
    width: 500px;
    justify-self: center;
    align-items: center;
      }

  .CompInfo {
    display: grid;
    grid-template-columns: 800px;
    font-size: 30px;
    padding-bottom: 10px;
      }

  #Info1 {
    color: white;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 40px;
    text-decoration: underline;
    text-align: center;
    padding-bottom: 5px;
      }

  .mainFooter {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    color: #777;
    padding-top: 20px;
      }

  hr {
    padding-top: 20px;
    width: 750px;
    color: rgb(68, 68, 68);
    }

  footer p {
    padding-top: 20px;
    display: grid;
    justify-content: center;
    padding-right: 80px;
}
      }

@media(min-width: 1000px) {

  body > container {
    display: none;
  }
    
  .topnav {
    display: block;
    
  }

 .menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 100;
    background-color: #6b6b6b;
    transition: all 0.2s ease-in-out;
          }
    
  .menu li {
    margin-top: 40px;
          }
    
  .menu li a {
    padding: 10px;
          }
    
  .open-menu, .close-menu {
    display: block;
          }
    
  #check:checked~.menu {
    right: 0;
          }
    
  .logo img {
    width: 250px;
          }
    
  h2 {
    font-size: 40px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: #6b6b6b;
    text-align: center;
    margin: 2%;
          }
    
  h3 {
    font-family: 'Overpass', sans-serif;
    margin: 0%;
    text-align: center;
    text-decoration: underline;
          }
    
  h4 {
    font-family: 'Overpass', sans-serif;
    margin: 0%;
    text-align: center;
    padding-bottom: 20px;
          }
    
  p {
    margin-top: 0%;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 15px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
          }
    
  .examples {
    display: grid;
    grid-template-columns: 400px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
          }
    
  .examples img {
    height: 200px;
    width: 300px;
          }
    
  .oUrTeAm {
    /* display: grid; */
    /* grid-template-columns: 150px 150px; */
    /* grid-template-rows: 150px 150px 150px 150px; */
    /* align-items: stretch; */
    justify-content: center;
    /* justify-items: start; */
          }
    
  .ourTeam {
    display: grid;
    grid-template-columns: 400px;
    grid-template-rows: 50px;
          }
    
  .Ot {
    display: grid;
    grid-template-columns: 200px;
    grid-template-rows: 250px 250px 250px 250px;
          }
    
  .tM {
    height: 150px;
    width: auto;
    border: 5px solid #282828;
          }
    
  .TeaMate {
    display: grid;
    grid-template-columns: 200px;
    grid-template-rows: 150px 20px 30px 40px;
    align-items: center;
    justify-content: center;
    justify-items: center;
          }
    
  .Ot h4 {
    font-size: 15px;
          }
    
  .socials img {
    width: 30px;
    height: 30px;
          }
    
  .SLSS {
    display: none;
          }
    
  footer {
    background-color: #282828;
    color: #777;
    height: 770px;
    width: 375px;
          }
    
  .socialss {
    display: grid;
    grid-template-columns: 50px;
    grid-template-rows: 50px 50px 50px 50px;
    padding: 30px;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
          }
    
  .ls {
    height: 20px;
    width: 500px;
          }
    
  .lss {
    height: 40px;
    width: auto;
          }
    
  .CompInfo {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 355px;
    padding-bottom: 20px;
    padding-top: 25px;
    justify-items: center;
    justify-content: end;
    align-items: center;
          }
    
  #Info1 {
    color: white;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 20px;
    text-decoration: underline;
    text-align: center;
    padding-bottom: 15px;
          }
    
  address {
    padding-right: 75px;
          }
    
  address #email {
    font-size: 16px;
          }
    
  .mainFooter {
    color: #777;
    display: grid;
    grid-template-columns: 100px;
    grid-template-rows: 300px 25px;
          }
    
  hr {
    width: 375px;
    color: rgb(68, 68, 68);
          }
    
  footer p {
    text-align: center;
    padding-top: 20px;
    padding-right: 80px;
          }
    
  .copy {
    align-content: center;
    padding-top: 10px;
          }
        }
